In [20]:
import pandas as pd
import yfinance as yf

In [21]:
symbols_table = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies", header=0)[0]

In [4]:
symbols_table

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [22]:
symbols_table_new = symbols_table.set_index("Symbol")

In [23]:
symbols_table_new

,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
Symbol,,,,,,,,
MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [24]:
symbols_table_new["Ticker Yahoo"] = symbols_table_new.index.str.replace(".", "-", regex=False)

In [25]:
symbols_table_new

,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded,Ticker Yahoo
Symbol,,,,,,,,,
MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902,MMM
ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,ABT
ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),ABBV
ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981,ABMD
ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989,ACN
...,...,...,...,...,...,...,...,...,...
YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,YUM
ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,ZBRA
ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,ZBH
ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,ZION
ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,ZTS

In [26]:
symbols = list(symbols_table_new.loc[:, "Ticker Yahoo"])

In [ ]:
symbols

In [11]:
new_data = yf.download(tickers = symbols,
                        start="2017-01-01",
                        group_by = "column",
                        interval = "1d",
                        auto_ajust = True,
                        threads = True,
                           )

[*********************100%***********************]  505 of 505 completed

In [12]:
new_data

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2017-01-02         NaN        NaN         NaN         NaN         NaN
2017-01-03   44.832710  44.741226  167.010864   27.413372   50.757782
2017-01-04   45.420956  45.127758  168.381378   27.382690   51.473480
2017-01-05   44.880924  44.345032  168.263977   27.521944   51.863861
2017-01-06   46.279240  44.654255  166.061279   27.828764   51.880135
...                ...        ...         ...         ...         ...
2021-06-28  147.929993  21.389999  204.509995  134.779999  113.000000
2021-06-29  148.809998  21.080000  205.300003  136.330002  112.300003
2021-06-30  147.809998  21.209999  205.139999  136.960007  112.639999
2021-07-01  147.789993  21.510000  208.940002  137.270004  114.260002
2021-07-02  148.169998  21.351801  208.809998  138.785004  114.650002

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2017-01-02         NaN         NaN         NaN         NaN         NaN  ...
2017-01-03   76.308624  112.360001   36.016212  108.282211  103.480003  ...
2017-01-04   78.202255  115.739998   36.302132  108.542549  104.139999  ...
2017-01-05   77.297005  114.809998   36.615711  106.915443  105.910004  ...
2017-01-06   78.331573  115.419998   37.611813  108.133453  108.300003  ...
...                ...         ...         ...         ...         ...  ...
2021-06-28  114.739998  312.440002  115.699997  293.899994  588.799988  ...
2021-06-29  114.440002  313.269989  117.209999  296.429993  590.750000  ...
2021-06-30  114.489998  312.109985  115.930000  294.790009  585.640015  ...
2021-07-01  116.440002  312.910004  117.160004  300.000000  584.729980  ...
2021-07-02  115.339996  314.989990  117.014999  302.040009  590.651794  ...

               Volume                                                          \
                  XEL       XLNX         XOM       XRAY        XYL        YUM
Date
2017-01-02        NaN        NaN         NaN        NaN        NaN        NaN
2017-01-03  2065100.0  4127000.0  10360600.0  1778000.0  1596700.0  4793400.0
2017-01-04  2542600.0  3281700.0   9434200.0   978300.0  1703000.0  2835200.0
2017-01-05  2611900.0  2198000.0  14443200.0  1114500.0  1846000.0  4040000.0
2017-01-06  1707400.0  2381800.0  16518100.0  1169600.0  1561600.0  2863800.0
...               ...        ...         ...        ...        ...        ...
2021-06-28  1826000.0  1503500.0  20570000.0  1339100.0   917100.0  1662200.0
2021-06-29  2329200.0  1820900.0  19579300.0   850500.0   712800.0  1187000.0
2021-06-30  2410200.0  4094400.0  17875500.0   910400.0   734300.0  1474300.0
2021-07-01  3240200.0  2870600.0  22499800.0  1139800.0   499000.0  1847500.0
2021-07-02   159696.0   156954.0   2383734.0    76088.0    24928.0    73755.0


                  ZBH      ZBRA       ZION        ZTS
Date
2017-01-02        NaN       NaN        NaN        NaN
2017-01-03  1381100.0  388200.0  2896200.0  3579700.0
2017-01-04  1502800.0  463200.0  1907500.0  3316300.0
2017-01-05  1453900.0  486600.0  2106000.0  2469100.0
2017-01-06  1821000.0  308300.0  2149100.0  2845800.0
...               ...       ...        ...        ...
2021-06-28  1653800.0  380500.0  1049800.0  1386100.0
2021-06-29  1100600.0  327800.0   714900.0   853900.0
2021-06-30  1241100.0  273200.0   998100.0  1203600.0
2021-07-01  1136200.0  227500.0  1021100.0  1997200.0
2021-07-02    52262.0   12138.0    78089.0    98272.0

[1135 rows x 3030 columns]

In [19]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952