In [1]:
import datetime as dt
import pandas as pd
import pandas_ta as ta
from pandas_datareader import data as pdr
#from pandas.core.frame import DataFrame
import yfinance as yf
from numpy import sqrt as npsqrt

In [2]:
start_date = dt.datetime(2019,1,1)
end_date = dt.datetime.today() - dt.timedelta(days=1)

In [3]:
end_date

datetime.datetime(2022, 1, 1, 9, 25, 29, 728168)

In [5]:
df = yf.download("HMY", start_date, end_date, progress=False, auto_adjust=False, interval='1d')
#df = pdr.DataReader('BBAR.BA', data_source='yahoo', start=start_date, end=end_date)

In [6]:
df

            Open  High   Low  Close  Adj Close   Volume
Date
2019-01-02  1.83  1.84  1.76   1.81   1.770865  2909700
2019-01-03  1.90  1.93  1.87   1.93   1.888271  3923900
2019-01-04  1.90  1.91  1.84   1.87   1.829568  3151400
2019-01-07  1.94  1.94  1.85   1.87   1.829568  1897400
2019-01-08  1.86  1.91  1.83   1.88   1.839352  2579800
...          ...   ...   ...    ...        ...      ...
2021-12-27  3.91  4.00  3.88   3.99   3.990000  2456800
2021-12-28  4.00  4.05  3.92   3.92   3.920000  2913600
2021-12-29  3.90  3.99  3.89   3.94   3.940000  3491000
2021-12-30  4.00  4.08  3.97   4.08   4.080000  4307800
2021-12-31  4.09  4.12  4.04   4.11   4.110000  1955400

[757 rows x 6 columns]

In [30]:
df.Close.rolling(20, min_periods=20).mean().tail(20)

Date
2021-05-28    142.050003
2021-05-31    142.050003
2021-06-01    142.050003
2021-06-02    142.050003
2021-06-03    142.050003
2021-06-04    142.050003
2021-06-07    142.050003
2021-06-08    142.050003
2021-06-09    142.050003
2021-06-10    142.050003
2021-06-11    142.050003
2021-06-14    142.050003
2021-06-15    142.050003
2021-06-16    142.050003
2021-06-17    142.050003
2021-06-18    142.050003
2021-06-22    142.050003
2021-06-23    142.050003
2021-06-24    142.050003
2021-06-25    142.050003
Name: Close, dtype: float64

In [31]:
ta.sma(df.Close, lenght=20)

Date
2019-01-02           NaN
2019-01-03           NaN
2019-01-04           NaN
2019-01-07           NaN
2019-01-08           NaN
                 ...
2021-06-18    142.050003
2021-06-22    142.050003
2021-06-23    142.050003
2021-06-24    142.050003
2021-06-25    142.050003
Name: SMA_10, Length: 602, dtype: float64

In [32]:
ta.bbands(df.Close, length=20, std=2, ddof=0.0001)

            BBL_20_2.0  BBM_20_2.0  BBU_20_2.0  BBB_20_2.0
Date
2019-01-02         NaN         NaN         NaN         NaN
2019-01-03         NaN         NaN         NaN         NaN
2019-01-04         NaN         NaN         NaN         NaN
2019-01-07         NaN         NaN         NaN         NaN
2019-01-08         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...
2021-06-18  142.050003  142.050003  142.050003         0.0
2021-06-22  142.050003  142.050003  142.050003         0.0
2021-06-23  142.050003  142.050003  142.050003         0.0
2021-06-24  142.050003  142.050003  142.050003         0.0
2021-06-25  142.050003  142.050003  142.050003         0.0

[602 rows x 4 columns]

In [33]:
df.Close.rolling(20, min_periods=20).mean() - ta.stdev(df.Close, length=20, ddof=0.0001) * 2

Date
2019-01-02           NaN
2019-01-03           NaN
2019-01-04           NaN
2019-01-07           NaN
2019-01-08           NaN
                 ...
2021-06-18    142.050003
2021-06-22    142.050003
2021-06-23    142.050003
2021-06-24    142.050003
2021-06-25    142.050003
Length: 602, dtype: float64

In [34]:
df.Close.rolling(20, min_periods=20).mean() + ta.stdev(df.Close, length=20, ddof=0.0001) * 2

Date
2019-01-02           NaN
2019-01-03           NaN
2019-01-04           NaN
2019-01-07           NaN
2019-01-08           NaN
                 ...
2021-06-18    142.050003
2021-06-22    142.050003
2021-06-23    142.050003
2021-06-24    142.050003
2021-06-25    142.050003
Length: 602, dtype: float64

In [35]:
ta.stdev(df.Close, length=20, ddof=0.0001) * 2

Date
2019-01-02    NaN
2019-01-03    NaN
2019-01-04    NaN
2019-01-07    NaN
2019-01-08    NaN
             ...
2021-06-18    0.0
2021-06-22    0.0
2021-06-23    0.0
2021-06-24    0.0
2021-06-25    0.0
Name: STDEV_20, Length: 602, dtype: float64

Varianza

In [36]:
df.Close.rolling(20).var(0).apply(npsqrt)

Date
2019-01-02    NaN
2019-01-03    NaN
2019-01-04    NaN
2019-01-07    NaN
2019-01-08    NaN
             ...
2021-06-18    0.0
2021-06-22    0.0
2021-06-23    0.0
2021-06-24    0.0
2021-06-25    0.0
Name: Close, Length: 602, dtype: float64

In [37]:
ddof = 0

In [38]:
length = 20

In [39]:
ddof = int(ddof) if ddof and ddof >= 0 and ddof < length else 1

In [40]:
ddof

1

In [41]:
ddof = int(ddof) if ddof and ddof >= 0 and ddof < length else 1